secrets:
  # -- Points to a Secret containing the Discord bot token
  # @section -- Bot
  token:
    name: ""
    key: ""
  # -- Points to a Secret containing the Sentry DSN
  # Learn more: https://docs.sentry.io/concepts/key-terms/dsn-explainer/
  # @section -- Bot
  sentryDsn:
    name: ""
    key: ""
  # -- Points to a Secret containing the Spotify API client secret
  # Used by https://github.com/iTsMaaT/discord-player-spotify
  # @section -- Bot
  spotifyClientSecret:
    name: ""
    key: ""
  # -- Points to a Secret containing the OpenAI API key
  # Used for the `/prompt` command
  # @section -- Bot
  openAiApiKey:
    name: ""
    key: ""
env:
  # -- Client ID used for Discord API authorization
  # @section -- Bot
  clientId: ""
  # -- ID of the channel used for storing the user playlists
  # @section -- Bot
  playlistsChannelId: ""
  # -- ID of the channel used for sending debug messages
  # @section -- Bot
  botDebugChannelId: ""
  # -- ID of the user that should be allowed to perform sensitive actions, like clearing the query cache
  # @section -- Bot
  ownerUserId: ""
  # -- Optional client ID for the Spotify API
  # Used by https://github.com/iTsMaaT/discord-player-spotify
  # @section -- Bot
  spotifyClientId: ""
# -- Configuration of the PVC used for storing the cached songs
# @section -- Bot
persistentVolumeClaim:
  size: "5Gi"
  accessModes:
    - ReadWriteOnce
  storageClass: ""
# -- RBAC configuration to access the Kubernetes API
# @section -- RBAC
rbac:
  create: true
serviceAccount:
  create: true
  annotations: {}
  name: ""
# -- General configuration of the Redis instance used for query caching and storing usage statistics
# @section -- Redis
redis:
  architecture: 'standalone'
  auth:
    enabled: false
  commonConfiguration: |-
    # Enable AOF https://redis.io/topics/persistence#append-only-file
    appendonly yes
    # Disable RDB persistence, AOF persistence already enabled.
    save ""
# -- General configuration of the Redis instance used for query caching and storing usage statistics
image:
  repository: xxczaki/discord-bot
  pullPolicy: Always
  tag: c9be4f259cf40146d2c0706f19b6ad3d4f9a2ea2
# -- Security context used for the bot Pod
securityContext:
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: RuntimeDefault
# -- Resource limits used for the bot Pod
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "400m"
# -- Readiness probe used for the bot Pod
readinessProbe:
  tcpSocket:
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
# -- Liveness probe used for the bot Pod
livenessProbe:
  tcpSocket:
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
